@font-face {
  font-family: regularFont;
  src: url('../assets/fonts/Eina\ 01\ Regular.otf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(250,250,250);
    font-family: regularFont;
    font-size: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3,h4, h5,h6, p {
  margin:0;
}
ul {
  margin:0;
  padding:0;
  list-style-type: none;
}
