.main {
    margin-bottom: 3.125rem;
}
.iconContainer {
    background-color: rgb(0,0,0);
    border-radius: 0.375rem;
    width: 1.875rem;
    height:1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:2.5rem;
    right:2.5rem;
    z-index: 1000;
}

@media screen and (min-width:0) {
    .main {
        padding:0 1.25rem;
    }
}
@media screen and (min-width:75rem) {
    .main {
        padding:0 5.9375rem;
    }
}

@media screen and (min-width: 93.5em) {
    .main {
        max-width: 93.5em;
        margin: auto;
    }
}