.main {
    margin-bottom: 50px;
}
.iconContainer {
    background-color: rgb(0,0,0);
    border-radius: 6px;
    width: 30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:40px;
    right:40px;
    z-index: 1000;
}

@media screen and (min-width:0) {
    .main {
        padding:0 20px;
    }
}
@media screen and (min-width:1200px) {
    .main {
        padding:0 95px;
    }
}

@media screen and (min-width: 93.5em) {
    .main {
        max-width: 93.5em;
        margin: auto;
    }
}